
<div class="container">
    <div align="center">
    </div>
	<div class="jumbotron">   
            <div>Title: {{ books.title }}</div>
            <div>ISBN #: {{ books.isbn }}</div>
            <div>Author: {{ books.author}}</div>
            <div>Edition: {{ books.edition}}</div>
            <div>Owner: {{ books.owner}} </div>
            <div>price: {{ books.price}}</div><br> 
            <div> <a type="submit" href="/user/login" class="btn btn-primary">Add to Cart</a></div><br>  
        <br><br>
 
  </div>
</div>
