<div class="container">
    {{#if status}}
        <div class="alert alert-success">
          <strong>{{status.title}}</strong> {{status.msg}}
        </div>
    {{/if}} 
    
    <div>
        {{# each cart }}
            <div>Buyer: {{this.buyer}}</div>
            <div>Book: {{this.bookId}}</div>
            <div>Quantity: {{this.quantity}}</div>
            <div> Total Price: {{this.total}}</div>
        {{/each}}
    </div><br>
    <div>
        <b>Grand Total:</b>
    </div><br>
    <div>
        <a class="btn btn-success" href="#">Checkout</a>
    </div>
</div>