<div class="container">
    {{#if status}}
        <div class="alert alert-success">
          <strong>{{status.title}}</strong> {{status.msg}}
        </div>
    {{/if}} 
    
    <div>
        {{# each cart }} 
            <div>Book: <a href="/books/{{this.bookId}}"> {{this.bookTitle}}</a></div>
            <div>Quantity: {{this.quantity}}</div>
            <div> Total Price: {{this.total}}</div>
            <a class="btn btn-danger" href="/cart/remove/{{this.id}}">Remove</a>
        {{/each}}
    </div>
    <div>
         
    </div><br>
    {{# if cart}}
    <b>Grand Total: $ {{total}}</b><br><br>
    <div>
        <a class="btn btn-success" href="/cart/checkout">Checkout</a>
    </div><br>
    <div>
        <a class="btn btn-danger" href="/cart/empty">Empty Cart</a>
    </div>
    {{else}}
        <p>Your Cart is Empty. Click <a href="/user/dashboard">Here</a> to shop</p>
    {{/if}}
</div>