<div class='container'>
    {{!-- left side of the page --}}
    <div class='col-sm-9'>
        <div class='min-search-bar'>
            <form class="form-horizontal" role="form" action="/book/searchAll" method="POST"> 
                <input type="text" name="title" placeholder="Title Or ISBN" class="form-control">
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </form> <!-- /form -->
        </div>

        <div class='content-block block-1'>
            <div class='subtitle'><strong>Relevant Books</strong></div>
            <div class="">
              {{#if major}}

              {{else}}
                <div style='text-align:center'class="">
                  <span class='glyphicon glyphicon-eye-close'></span>
                  You need to select a major inorder to show books that you might need
                </div>
              {{/if}}
            </div>
        </div>
        <div class='content-block block-2'>
          <div class='subtitle'><strong>All Books</strong></div>
          <div class="">
            {{#each books}}
              <div class="col-sm-3">
                {{#if this.image}}
                  <div class="">
                    <img src="{{this.image}}" alt="" />
                  </div>
                {{else}}
                  <div class="">
                    <img src="http://vignette3.wikia.nocookie.net/galaxylife/images/7/7c/Noimage.png/revision/latest?cb=20120622041841" alt="" />
                  </div>
                {{/if}}
                <div>Title: {{ this.title }}</div>
                <div>Edition: {{ this.edition}}</div>
                <div>Author: {{ this.author}}</div>
                <div>Owner: {{ this.owner}} </div>
                <div>price: {{ this.price}}</div>
              </div>
            {{/each}}
          </div>
        </div>
    </div>
    {{!-- right side of the page --}}
    <div class='col-sm-3'>
        <div class='info-block user-block'>
            {{#if name}}
                <div>Student Name {{name}}</div>
            {{/if}}
            {{#if college}}
                <div>CUNY Institute: {{college}}</div>
            {{/if}}
            {{#if major}}
                <div>Major:
                    {{#each major}}
                        {{this}},
                    {{/each}}
                </div>
            {{/if}}
            {{#if minor}}

            {{/if}}
        </div>
        <div class='info-block listing-block'>
            <div>My Listings</div>
            <hr>
            {{#each listings}}
                <div class='my-listing'>
                    <div class='col-sm-9'>{{this.title}}</div>
                    <div class='col-sm-3'>{{this.offers}} Offers</div>
                </div>
            {{/each}}
            <a href='/listbook'>List a book</a>
        </div>
    </div>
</div>
