<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="actie"><a href="/user/{{user.fullName}}/books">My Books <span class="sr-only">(current)</span></a></li>
        <li><a href="/book/newBookForm">Add New Book</a></li> 
        <li><a href="#">My Profile</a></li> 
      </ul> 
       
  </div><!-- /.container-fluid -->
</nav>
<div class="container">  
    {{# each books}}
        <div>Title: {{ this.title }}</div>
        <div>ISBN #: {{ this.isbn }}</div> 
        <div>Author: {{ this.author}}</div>
        <div>Edition: {{ this.edition}}</div>
        <div>Owner: {{ this.owner}} </div>
        <div>price: {{ this.price}}</div>
    {{/each}}
        <br><br>
        
</div>